name: Build Project

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Run linter
      run: npm run lint

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Run unit tests
      run: npm test

  integration-test:
    name: Integration Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Don't stop other versions if one fails
      matrix:
        # Define your array of versions here
        bpmnlint-version: ['11.12.0', '11.10.0', '10.3.0']

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Run integration test
      run: | 
        echo "Testing with bpmnlint version: ${{ matrix.bpmnlint-version }}"
        npm install bpmnlint@${{ matrix.bpmnlint-version }} &> /dev/null
        npm list bpmnlint
        npx bpmnlint --config=test/smoke-test/.bpmnlintrc test/smoke-test/*.bpmn | tee command_output.log
        if grep -q -F "(0 errors," command_output.log; then
          echo "Pass: ${{ matrix.bpmnlint-version }}"
        else
          echo "::error::Fail: ${{ matrix.bpmnlint-version }}"
          exit 1
        fi

  npm-audit-check:
    name: NPM Audit Check
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Run the audit
      run: npm audit --omit=dev
